
@import url('./__iframes/video__iframes.css');
@import url('./__iframe/video__iframe.css');
@import url('./__list-item/video__list-item.css');


.video {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 100px;
}
