.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

.feinman__link:hover {
  background-color: khaki;
  color: purple;
  opacity: .8;
  transition: opacity .5s linear, background-color .3s ease-in-out, color .3s ease-in-out;
}
