.header__link {
  text-decoration: none;
  color: #2f80ed
}

.header__link:hover {
  background-color: khaki;
  color: purple;
  opacity: .8;
  transition: opacity .5s linear, background-color .6s ease-in-out, color .6s ease-in-out;
}
